################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backups
/packages
/Ktcs.Tests/obj/Debug
/Ktcs/bin
/Ktcs/obj/Debug
