################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backups
/packages
/Ktcs.Tests/obj/Debug
/Ktcs/bin
/Ktcs/obj/
/Ktcs.DataModel/bin
/Ktcs.DataModel/obj/
/Ktcs.Classes/bin
/Ktcs.Classes/obj/

Ktcs/App_Data/aspnet-Ktcs-20160625105857.mdf
Ktcs/App_Data/aspnet-Ktcs-20160625105857_log.ldf
Ktcs.Classes/bin/
Ktcs.Classes/obj/
Ktcs.DataModel/bin/
Ktcs.Tests/bin/
Ktcs.DataModel/obj/
Ktcs.Classes/bin/
Ktcs.Classes/Log.cs
Ktcs.Classes/bin/Debug/Ktcs.Classes.dll
Ktcs.Classes/bin/Debug/Ktcs.Classes.pdb
Ktcs.Classes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ktcs.Classes/obj/Debug/Ktcs.Classes.csproj.FileListAbsolute.txt
Ktcs.Classes/obj/Debug/Ktcs.Classes.csprojResolveAssemblyReference.cache
Ktcs.Classes/obj/Debug/Ktcs.Classes.dll
Ktcs.Classes/obj/Debug/Ktcs.Classes.pdb
Ktcs.Classes/bin/Debug/Ktcs.Classes.dll
Ktcs.Classes/bin/Debug/Ktcs.Classes.pdb
Ktcs.Classes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ktcs.Classes/obj/Debug/Ktcs.Classes.csproj.FileListAbsolute.txt
Ktcs.Classes/obj/Debug/Ktcs.Classes.csprojResolveAssemblyReference.cache
Ktcs.Classes/obj/Debug/Ktcs.Classes.dll
Ktcs.Classes/obj/Debug/Ktcs.Classes.pdb
Ktcs/logs/
Ktcs.DataModel/obj/Debug/Ktcs.DataModel.dll
Ktcs.DataModel/obj/Debug/Ktcs.DataModel.dll
Ktcs.DataModel/bin/Debug/Ktcs.DataModel.dll
Ktcs.DataModel/bin/Debug/Ktcs.DataModel.pdb
Ktcs.DataModel/obj/Debug/Ktcs.DataModel.dll
Ktcs.DataModel/obj/Debug/Ktcs.DataModel.pdb
