@model Ktcs.Data.Topic

@{
    ViewBag.Title = "Details";
}

<div id="page-title">
    <p>Section</p>
    <h2>Details</h2>
</div>


<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.topic1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topic1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.topicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
